
.carousel-desc .show-more-btn {
  color: #007bff;
  cursor: pointer;
  margin-left: 5px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.carousel-desc .show-more-btn:hover {
  color: #0056b3;
  text-decoration: underline;
}
